[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
visual-midi = "*"
midi2audio = "*"
aubio = "*"
crepe = "*"
numba = "==0.48"
fluidsynth = "*"

[dev-packages]

[requires]
python_version = "3.8"
